# Flutter / Dart
.dart_tool/
.packages
pubspec.lock
build/

# IntelliJ / VSCode settings
.idea/
*.iml
.vscode/

# Android
android/.gradle/
android/**/build/
android/**/intermediates/
android/**/generated/
**/gradlew*
